<<<<<<< HEAD
﻿body {
    background-color: #965dde;
=======
body {
    background-color: #000000;
>>>>>>> 57462451126eb2533c68d84eab08e47de3b1d086
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
    font-weight:bold;
    color:white;
}
a.button {
    font-size: large;
    font-weight: bold;
    font-family: Impact;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 5px;
    background: rgb(0, 0, 0);
    border: 2px solid;
    box-shadow: 0 -3px white inset;
    transition: 0.2s;
}

    a.button7:hover {
        background: rgb(53, 167, 110);
    }

    a.button7:active {
        background: rgb(33,147,90);
        box-shadow: 0 3px rgb(33,147,90) inset;
    }
h2{
    font-family:serif ;
    color:white;
    font-size:xx-large;
    font-weight:bold;

}
p {
    font-family: serif;
    color: white;
    font-size: large;
    font-weight: bold;
}
input {
    font-family: serif;
    color: white;
    font-size: medium;
    font-weight: bold;
    background-color:black;
}
